@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Indmeldinger.AfterIndModel
@{
}

<br />
<h2 class="text-center">Du har nu indmeldt dit kældedyr for adoption her hos Zealand Dyreinternat</h2>

<br />
<br />
<br />

<h5 class="text-center">Du vil høre fra os meget snart gennem din mail</h5>