@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Vagtplan.CreateVagtModel
@{
}

<h1>Create new Vagt</h1>

<form method="post">
    <div class="form-group">
    <label>Worker:</label>
    <select asp-for="Vagt.Medarbejder" asp-items="@Model.Medarbejderliste"></select>
    
    </div>
<div class="form-group">
        <label>
            Start tid
        </label>
        <select asp-for="Vagt.StartTid" asp-items="@Model.StartTidOptions()"></select>

    </div>
    <div class="form-group">
        <label>
            Slut tid tid
        </label>
        <select asp-for="Vagt.SlutTid" asp-items="@Model.SlutTidOptions()"></select>

    </div>
    <p>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </p>
</form>