@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Vagtplan.DeleteVagtModel
@{
}

<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
	<h5>Are you sure you want to delete Vagt for @Model.Vagt.AssignedMedarbejder.MedarbejderName</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="GetAllVagter">No</a>
	</form>
</div>
