<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dyreinternattet_Semesterprojekt_Vinter_2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dyreinternattet_E2023.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="~/images/zealandDyrTransp.png" class="navBarImage" />
            </div>
            <div>
                <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                <a class="nav-link" asp-area="" asp-page="/Frivilligt/CreateFrivillig">Bliv Frivillig</a>
                <a class="nav-link" asp-area="" asp-page="/Dyreoversigt/GetAllDyr">Se dyr</a>
                
                <a class="nav-link" asp-area="" asp-page="/Indmeldinger/CreateIndmeldinger">Indmeld dit dyr</a>
                
                @if (User.Identity.IsAuthenticated) //tjekker om bruger er logget ind
                     {
                    <a class="nav-link" asp-area="" asp-page="/Vagtplan/GetAllVagter">Vagtplan</a>
                    <a class="nav-link" asp-area="" asp-page="/Frivilligt/GetAllFrivillige">Se Frivillige</a>
                    <a class="nav-link" asp-area="" asp-page="/Indmeldinger/GetAllIndmelding">Se indmeldinger</a>
                         <form method="post" asp-page="/Account/Logout">
                         <button type="submit" class="nav-link btn btn-link">Log ud</button> @* Viser log ud knap *@
                         </form>
                    }
                    else
                    {
                        <a class="nav-link" asp-area="" asp-page="/Account/Login">Log ind</a> @* Viser log ind link *@
                    }

                
               
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Dyreinternattet_Semesterprojekt_Vinter_2023 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>