@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="p">
    <h1>VI HJÆLPER DYR I NØD, STOPPER OVERGREB MOD DYR OG KÆMPER FOR ET RESPEKTFULDT OG BÆREDYGTIGT FORHOLD MELLEM DYR, MENNESKER OG NATUR</h1>
</div>



<div class="image-container">

    <div class="image11">
        <img class="changing-image" id="changingImage1" src="images/dog1.jpg" alt="Image 1">
        <p>Blandt vores adopterbare katte finder du både de, der har oplevet hjemløshed og dem, der af forskellige årsager har brug for et nyt kærligt hjem. Disse katte fortjener alle en chance for et trygt og lykkeligt liv, og du kan være nøglen til at give dem den kærlighed og omsorg, de længes efter.</p>
    </div>

    <div class="image12">
        <img class="changing-image" id="changingImage2" src="images/kanin1.jpg" alt="Image 2">
        <p>
            Blandt vores adopterbare hunde finder du en mangfoldighed af personligheder og baggrunde. Hver enkelt hund har sin unikke historie og charme, og vi er dedikerede til at matche hver hund med det perfekte hjem, der vil sætte pris på dens unikke kvaliteter.
        </p>
    </div>

    <div class="image13">
        <img class="changing-image" id="changingImage3" src="images/kat1.jpg" alt="Image 3">
        <p>Blandt vores adopterbare kaniner finder du charmerende personligheder og bløde ører, der venter på at blive en del af din familie. Disse små væsener har brug for et trygt og kærligt hjem, og din beslutning om at adoptere kan gøre en betydelig forskel i deres liv.</p>
    </div>
</div>


<div class="farve">
    <div class="p2">
        <h1>VIL DU VÆRE MED TIL AT GØRE EN FORSKEL?</h1>
    </div>

    <div class="image14">
        <img src="images/frivilig.png" />
    </div>
    <p>At være frivillig hos Dyrenes Beskyttelse er en givende og meningsfuld oplevelse, hvor du kan bidrage direkte til beskyttelsen og velfærden af dyr i Danmark. Som frivillig får du mulighed for at arbejde tæt sammen med dedikerede mennesker, der deler din passion for at gøre en forskel for dyr i nød. Du kan engagere dig i forskellige områder, lige fra at hjælpe til med pasning af dyr på internaterne og deltage i redningsaktioner til at støtte op om oplysningskampagner og dyrevenlige arrangementer. Din frivillige indsats er med til at skabe bedre forhold for dyr, bekæmpe misbrug og skabe opmærksomhed omkring vigtige dyrevelfærdsspørgsmål. Ved at være en del af Dyrenes Beskyttelse som frivillig er du med til at forme en mere medfølende og ansvarlig fremtid for vores firbenede venner.</p>
    <button class="btn1">
        ANSØG NU!
    </button>
</div>

    
    
