@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Dyreoversigt.Pages_Dyreoversigt_GetAllDyr
@{
}
<h1>Oversigt over alle dyr</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/Dyr/PrototypeDyr">Link til prototype dyr</a>