@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Dyreoversigt.GetAllDyr
@{
}

<head>
    <title>Title of the document</title>
</head>
<body>
    
    <div class="image-container">
        <div class="image-item">
            <img src="/images/kat.png" alt="Image 1">
            <div class="image-caption">
              Ikke så lang tekst

            </div>
        </div>
    </div>

                @if (Model.Dyreliste != null)
                {
                 
                        @foreach (var dyr in Model.Dyreliste)
                        {
                            <tr>
                                <td>Navn: @dyr.Navn</td> <br>
                                <td>Art: @dyr.Art</td> <br>
                <td><a asp-page="/DyreDetaljer" asp-route-id="@dyr.ID">View Details</a></td> <br>
                            </tr>
                        }
                    
                }

                <a class="btn btn-primary" asp-page="CreateDyr">Create a new animal</a>
</body>



