@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Dyreoversigt.GetAllDyr
@{
}

<head>
    <title>Title of the document</title>
</head>
<body>

   


    
  
    <br />
    <form method="post">
        <div class="input-group mb-3">
            <input asp-for="SearchString" class="form-control mr-1"
                   placeholder="Enter search term" />
            <input type="submit" asp-page-handler="Search"
                   value="Search" class="btn btn-primary" />
        </div>
    </form>

    <br />














        <div class="image-containerdyr">
    @if (Model.Dyreliste != null)
    {
        @foreach (var dyr in Model.Dyreliste)
        {
        
        <div class="image-item">
            <div class="image-item-container">
             <img src="@dyr.ImagePath" alt="@dyr.Navn" width=" 400" height="300" >
                 <a asp-page="DyreDetaljer" asp-route-id="@dyr.ID"><br>
                    <button class="image-caption">
                        <b>
                        SE MERE OM @dyr.Navn!
                        </b>
                    </button>
                        </a>
                    </div>
                </div>
        }
    }
    </div>





    @if (User.Identity.IsAuthenticated) //Viser kun hvis bruger er authenticated
    {
         <a class="btn btn-primary" asp-page="CreateDyr">Create a new animal</a>
    }
   
</body>





