@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Dyreoversigt.GetAllDyr
@{
}

<head>
    <title>Title of the document</title>
</head>
<body>
  
    <br />
    <!-- En formular, der anvender HTTP Post-metoden->
    <form method="post">

         <!--En gruppe for inputfelter, der anvender Bootstrap-styling -->
        <div class="input-group mb-3">

            <!-- Inputfeltet, der binder til "Searchstring" -->
            <input asp-for="SearchString" class="form-control mr-1"
                   placeholder="Søg efter navn og race" />

                   <!-- En knap af typen "submit", der udløser  "Search" sidehåndteringsmetoden-->
            <input type="submit" asp-page-handler="Search"
                   value="Search" class="btn btn-primary" />
        </div>
    </form>

    <br />



    <style>
        .form-group {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
        }

        /* Style the input field */
        .form-control {
            border: 2px solid #6c757d;
            border-radius: 5px;
            padding: 10px;
        }

        /* Style the submit button */
        .btn-primary {
            background-color: black;
            
            border-radius: 5px;
            color: #fff;
            transition: background-color 0.3s ease;
        }

            .btn-primary:hover {
                background-color: mistyrose;
            }

        /* Optional: Add some box shadow for a subtle lift effect */
        .form-group {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>










        <div class="image-containerdyr">
    @if (Model.Dyreliste != null)
    {
        @foreach (var dyr in Model.Dyreliste)
        {
        
        <div class="image-item">
            <div class="image-item-container">
             <img src="@dyr.ImagePath" alt="@dyr.Navn" width=" 400" height="300" >
                 <a asp-page="DyreDetaljer" asp-route-id="@dyr.ID"><br>
                    <button class="image-caption">
                        <b>
                        SE MERE OM @dyr.Navn!
                        </b>
                    </button>
                        </a>
                    </div>
                </div>
        }
    }
    </div>





    @if (User.Identity.IsAuthenticated) //Viser kun hvis bruger er authenticated
    {
         <a class="btn btn-primary" asp-page="CreateDyr">Create a new animal</a>
    }
   
</body>





