@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Frivilligt.AfterFrivModel
@{
}

<!--En HTML-struktur til en bekræftelsesside efter tilmelding som frivillig hos Zealand Dyr -->
<br />
<h2 class="text-center">Du har nu tilmeldt dig til at blive frivillig hos Zealand Dyreinternat</h2>
<br />
<h4 class="text-center">Tak for det!</h4>

<br />
<br />
<br />

<h5 class="text-center">Du vil høre fra os meget snart gennem din mail</h5>

<br />

<h6 class="text-center">I mellemtiden kan du tage et kig på vores mange dyr, som mangler et godt sted af bo</h6>
<br />
<h6 class="text-center">Kunne det være hos dig?</h6>

<br />
<br />

<button type="submit" class="btn btn-primary">Se vores dyr</button>

