@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Frivilligt.CreateFrivilligModel
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Tilmeld dig her!</h2>

        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Fulde Navn</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" placeholder="Lisa Jensen" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Fødselsdag</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Birthday" type="date" id="birthday" name="birthday">
                    <span asp-validation-for="Birthday" class="text-danger"></span>

            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Adresse</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Address" placeholder="Pilegårdsvej 12" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Postnummer</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Postnummer" placeholder="2665" value="" />
                    <span asp-validation-for="Postnummer" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Tlf</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Tlf" placeholder="75849384" />
                    <span asp-validation-for="Tlf" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Mail</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Mail" placeholder="lisajensen1@gmail.com" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Kort om dig selv</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Description" placeholder="..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4" col-sm-8">
                    <button type="submit" class="btn btn-primary">Send ansøgning</button>
                </div>
            </div>
        </form>
    </div>
</div>